.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
  color: white;
  overflow: hidden;
}
.head-menu {
  gap: 1em;
  margin-right: 35px;
  list-style: none;
  display: flex;
}
.head-menu li {
  padding: 1em;
  /* border: 1px solid black; */
  margin: 10px;
}

.head-menu li:hover {
  font-weight: 1000;
  text-shadow: 1px 1px 0px black;
}

.head-menu a {
  color: black;
  text-decoration: none;
}

.Logo1 {
  width: 90px;
  animation: logoSpin 5s linear infinite;
  transition: 1s;
}

.Logo1:hover {
  width: 90px;
  animation: logoSpin 2s linear infinite;
}

@keyframes logoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
